/*/////////////////////////////////////////////////////////////////////
 //
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // $see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // $note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/


/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */

#header {
  /* 1. Header wrapper */
}

#highlighted {
  /* 2. Highlighted (below header) wrapper */
}

#content {
  /* 3. Content wrapper */
}

#content-below {
  /* 4. Content Below wrapper */
}

#footer {
  /* 5. Footer wrapper */
}


/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */


/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */


/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */

@media (min-width: 576px) {
  /* Small devices (576px and up). Mixin: media-breakpoint-up(sm) */
}

@media (min-width: 768px) {
  /* Medium devices (768px and up). Mixin: media-breakpoint-up(md) */
}

@media (min-width: 992px) {
  /* Large devices (992px and up). Mixin: media-breakpoint-up(lg) */
}

@media (min-width: 1200px) {
  /* X-Large devices (1200px and up). Mixin: media-breakpoint-up(xl) */
}


/* max-width */

@media (max-width: 575px) {
  /* Small devices (575px and down). Mixin: media-breakpoint-down(xs) */
}

@media (max-width: 767px) {
  /* Medium devices (767px and down). Mixin: media-breakpoint-down(sm) */
}

@media (max-width: 991px) {
  /* Large devices (992px and down). Mixin: media-breakpoint-down(md) */
}

@media (max-width: 1199px) {
  /* X-Large devices (1200px and down). Mixin: media-breakpoint-down(lg) */
}


/* target one breakpoint */

@media (min-width: 576px) and (max-width: 767px) {
  /* Small devices (between 576px and 767px). Mixin: media-breakpoint-only(sm) */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium devices (tablets, between 768px and 991px). Mixin: media-breakpoint-only(md) */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Large devices (desktops, between 992px and 1199px). Mixin: media-breakpoint-only(lg) */
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops, 1200px and up). Mixin: media-breakpoint-only(xl) */
}


/* span multiple screenwidths */

@media (min-width: 768px) {
  /* From medium to large (between 768px and 1199px). Mixin: media-breakpoint-between(md, xl)  */
}


/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */

/*overide the background of the title divider because I don't like the look of it*/
.title-divider {
    background: none;
}

/*overide the minimum width of the dropdown menu's*/
.navbar-toggleable-md.navbar-main.collapse .dropdown-menu{
    min-width: 150px; !important;
}
.navbar-toggleable-md .navbar-main.collapse .dropdown-menu{
    min-width: 150px; !important;
}

/*CSS for Display Slide Admin Page Components*/

.swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 245px; !important;
    height: 158px; !important;
}

.swiper-button-prev, .swiper-button-next{
    background-color: rgba(255,255,255,0.9);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(255,255,255,0.9);
}

.swiper-slide-message {
    padding: 5px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.60);
}

.swiper-slide-warning-message {
    background-color: #f5f5f5;
    border: inset;
    border-radius: 3px;
    border-color: red;
    width: 100%;
}

.swiper-slide-empty-message {
    background-color: #f5f5f5;
    border: inset;
    border-radius: 3px;
    border-color: #21a9e1;
    padding: 20px;
    width: 100%;
    font-size: 16px;
}

.swiper-slide-failure-message {
    background-color: #f5f5f5;
    border: inset;
    border-radius: 3px;
    border-color: #e11d17;
    width: 100%;
    font-size: 12px;
}

.swiper-container-top {
    height: 316px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-container-thumbs {
    width: 100%;
    height: 178px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;

}
.gallery-thumbs {
    height: 178px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    height: 100%;
    width: 255px;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.slidePreviewContainer {
    width: 490px;
    height: 316px;
/*    padding-top: 10px;
    padding-bottom: 50px;*/
}
.slidePreviewImage {
    background-position: center;
    background-size: cover;
    width: 490px;
    height: 316px;
}

.slidePreviewText {
    position: relative;
    top: -316px;
    width: 490px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 5px;
}
.note-editor {
    position: relative;
    top: -356px;
    margin: auto;
}

.slideBackgroundPicker {
    /*background-color: blue;*/
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    opacity: 0;
}